/.deps/
/.libs/
*.o
*.lo
/Makefile
/config.log
/config.status
/config.h
/libtool
/libxml-2.0-uninstalled.pc
/libxml-2.0.pc
/libxml2-config.cmake
/libxml2.la
/stamp-h1
/testdso.la
/xml2-config
/xml2Conf.sh
/xmlcatalog
/xmllint
