# X.509 Certificate options
#
# DN options

# The organization of the subject.
organization = "Koko inc."

# The organizational unit of the subject.
unit = "sleeping dept."

# The locality of the subject.
# locality =

# The state of the certificate owner.
state = "Attiki"

# The country of the subject. Two letter code.
country = GR

# The common name of the certificate owner.
cn = "Cindy Lauper"

# A user id of the certificate owner.
uid = "clauper"

serial = 9
expiration_days = 2590

add_critical_extension = "1.10.11.12.13.14.15.16.17.1.5 CAFE"
add_critical_extension = "1.2.1.5.1 octet_string(BEAFCAFEFAFA)"
