/.libs/
*.o
*.lo
/Makefile
/add.c
/add_1.c
/add_err1_n.c
/add_err2_n.c
/add_err3_n.c
/add_n.asm
/add_n_sub_n.c
/addlsh1_n.asm
/addmul_1.asm
/and_n.asm
/andn_n.asm
/bdiv_dbm1c.asm
/bdiv_q.c
/bdiv_q_1.c
/bdiv_qr.c
/binvert.c
/broot.c
/brootinv.c
/bsqrt.c
/bsqrtinv.c
/cmp.c
/mul_fft.c
/mul_n.c
/mullo_basecase.c
/mullo_n.c
/mulmid.c
/mulmid_basecase.c
/mulmid_n.c
/mulmod_bnm1.c
/nand_n.asm
/neg.c
/nior_n.asm
/nussbaumer_mul.c
/perfpow.c
/perfsqr.c
/perfsqr.h
/popcount.c
/pow_1.c
/powlo.c
/powm.c
/pre_divrem_1.c
/pre_mod_1.c
/random.c
/random2.c
/redc_1.c
/redc_2.c
/redc_n.c
/remove.c
/rootrem.c
/rsh1add_n.asm
/rsh1sub_n.asm
/rshift.asm
/sbpi1_bdiv_q.c
/sbpi1_bdiv_qr.c
/sbpi1_div_q.c
/sbpi1_div_qr.c
/sbpi1_divappr_q.c
/scan0.c
/scan1.c
/sec_add_1.c
/sec_div_qr.c
/sec_div_r.c
/sec_invert.c
/sec_mul.c
/sec_pi1_div_qr.c
/sec_pi1_div_r.c
/sec_powm.c
/sec_sqr.c
/sec_sub_1.c
/sec_tabselect.asm
/set_str.c
/sizeinbase.c
/sqr.c
/sqr_basecase.c
/sqrlo.c
/sqrlo_basecase.c
/sqrmod_bnm1.c
/sqrtrem.c
/sub.c
/sub_1.c
/sub_err1_n.c
/sub_err2_n.c
/sub_err3_n.c
/sub_n.asm
/sublsh1_n.asm
/submul_1.asm
/dcpi1_bdiv_q.c
/dcpi1_bdiv_qr.c
/dcpi1_div_q.c
/dcpi1_div_qr.c
/dcpi1_divappr_q.c
/div_q.c
/div_qr_1.c
/div_qr_1n_pi1.c
/div_qr_2.c
/div_qr_2n_pi1.c
/div_qr_2u_pi1.c
/dive_1.asm
/diveby3.c
/divexact.c
/divis.c
/divrem.c
/divrem_1.c
/divrem_2.c
/dump.c
/fib2_ui.c
/fib_table.c
/gcd.c
/gcd_1.c
/gcd_subdiv_step.c
/gcdext.c
/gcdext_1.c
/gcdext_lehmer.c
/get_d.c
/get_str.c
/hamdist.c
/hgcd.c
/hgcd2.c
/hgcd2_jacobi.c
/hgcd_appr.c
/hgcd_jacobi.c
/hgcd_matrix.c
/hgcd_reduce.c
/hgcd_step.c
/invert.c
/invert_limb.asm
/invertappr.c
/ior_n.asm
/iorn_n.asm
/jacbase.c
/jacobi.c
/jacobi_2.c
/jacobitab.h
/lshift.asm
/lshiftc.asm
/matrix22_mul.c
/matrix22_mul1_inverse_vector.c
/mod_1.c
/mod_1_1.c
/mod_1_2.c
/mod_1_3.c
/mod_1_4.c
/mod_34lsub1.asm
/mode1o.asm
/mp_bases.c
/mu_bdiv_q.c
/mu_bdiv_qr.c
/mu_div_q.c
/mu_div_qr.c
/mu_divappr_q.c
/mul.c
/mul_1.asm
/mul_basecase.c
/tdiv_qr.c
/toom22_mul.c
/toom2_sqr.c
/toom32_mul.c
/toom33_mul.c
/toom3_sqr.c
/toom42_mul.c
/toom42_mulmid.c
/toom43_mul.c
/toom44_mul.c
/toom4_sqr.c
/toom52_mul.c
/toom53_mul.c
/toom54_mul.c
/toom62_mul.c
/toom63_mul.c
/toom6_sqr.c
/toom6h_mul.c
/toom8_sqr.c
/toom8h_mul.c
/toom_couple_handling.c
/toom_eval_dgr3_pm1.c
/toom_eval_dgr3_pm2.c
/toom_eval_pm1.c
/toom_eval_pm2.c
/toom_eval_pm2exp.c
/toom_eval_pm2rexp.c
/toom_interpolate_12pts.c
/toom_interpolate_16pts.c
/toom_interpolate_5pts.c
/toom_interpolate_6pts.c
/toom_interpolate_7pts.c
/toom_interpolate_8pts.c
/trialdiv.c
/udiv.asm
/xnor_n.asm
/xor_n.asm
/zero.c
/zero_p.c
/cnd_add_n.asm
/cnd_sub_n.asm
/cnd_swap.c
/com.asm
/comb_tables.c
/copyd.asm
/copyi.asm
