/.deps/
/Makefile
/.libs/
/fax2tiff
*.o
/fax2ps
/pal2rgb
/ppm2tiff
/raw2tiff
/tiff2bw
/tiff2pdf
/tiff2ps
/tiff2rgba
/tiffcmp
/tiffcp
/tiffcrop
/tiffdither
/tiffdump
/tiffinfo
/tiffmedian
/tiffset
/tiffsplit
