/.deps/
/.libs/
/pkgscripts/
/*.o
/*.lo
/*.la
/Makefile
/libtool
/rdjpgcom
/stamp-h1
/stamp-h2
/stamp-h3
/wrjpgcom
/cjpeg
/djpeg
/jcstest
/jpegtran
/config.h
/config.status
/jconfig.h
/jconfigint.h
/libjpeg.map
/autom4te.cache/
/build/
