/.deps/
/.libs/
*.pc
*.lo
*.o
/Makefile
/config.h
/config.log
/config.status
/libpng-config
/libpng.vers
/libpng16-config
/libpng16.la
/libtool
/png-fix-itxt
/pngcp
/pngfix
/pngimage
/pnglibconf.c
/pnglibconf.h
/pnglibconf.out
/pngprefix.h
/pngstest
/pngtest
/pngunknown
/pngvalid
/stamp-h1
/timepng
/libpng.sym
