/.libs/
*.o
*.la
/Makefile
*.lo
/stamp-h1
/fac_table.h
/fib_table.h
/gen-bases
/gen-fac
/gen-fib
/gen-jacobitab
/gen-psqr
/gen-trialdivtab
/gmp-mparam.h
/gmp.h
/libtool
/mp_bases.h
/trialdivtab.h
/config.h
/config.log
/config.m4
/config.status
*.tmp
