/.deps/
/Makefile
/.libs/
/arpa/
/sys/
*.o
*.lo
/alloca.h
/arg-nonnull.h
/c++defs.h
/libgnu_gpl.la
/limits.h
/netdb.h
/signal.h
/stddef.h
/stdint.h
/stdio.h
/stdlib.h
/string.h
/time.h
/unistd.h
/warn-on-use.h
/wchar.h
