*.8svx
*.aif
*.aifc
*.aiff
*.au
*.bin
*.caf
*.cm*
*.exe
*.flac
*.la
*.lo
*.loT
*.o
*.oct
*.oga
*.ogg
*.paf
*.raw
*.rifx
*.sd2
*.sds
*.svx
*.w64
*.wav
*.wavex
.DS_Store
.deps
.dirstamp
.libs
Build/
CMake/config.h.in
CMakeFiles
CMakeCache.txt
Cfg
Hack
Hack/sndfile-fuzzbomb
INSTALL
M4/libtool.m4
M4/ltoptions.m4
M4/ltsugar.m4
M4/ltversion.m4
M4/lt~obsolete.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-test-tarball.mk
config.log
config.status
configure
doc/AUTHORS
doc/ChangeLog
doc/NEWS
doc/README
doc/libsndfile.css
echo-install-dirs
examples/generate
examples/list_formats
examples/make_sine
examples/sfprocess
examples/sndfile-loopify
examples/sndfile-to-text
examples/sndfilehandle
libsndfile-1.0.*
libsndfile-testsuite-*
libsndfile.spec
libtool
man/sndfile-deinterleave.1
man/sndfile-metadata-set.1
programs/sndfile-cmp
programs/sndfile-concat
programs/sndfile-convert
programs/sndfile-data-trim
programs/sndfile-deinterleave
programs/sndfile-info
programs/sndfile-interleave
programs/sndfile-jackplay
programs/sndfile-metadata-get
programs/sndfile-metadata-set
programs/sndfile-play
programs/sndfile-salvage
regtest/sndfile-regtest
sndfile.pc
src/Ext
src/G72x/g72x_test
src/Symbols.darwin
src/Symbols.gnu-binutils
src/Symbols.os2
src/Symbols.static
src/config.h
src/config.h.in
src/libsndfile.so*
src/libsndfile-1.def
src/sndfile.h
src/stamp-h1
src/test_endswap.c
src/test_main
src/version-metadata.rc
tests/*_test
tests/benchmark
tests/benchmark.c
tests/fix_this
tests/floating_point_test.c
tests/header_test.c
tests/libsndfile-1.dll
tests/pcm_test.c
tests/pedantic-header-test.sh
tests/pipe_test.c
tests/rdwr_test.c
tests/scale_clip_test.c
tests/sfversion
tests/test_wrapper.sh
tests/utils.c
tests/utils.h
tests/write_read_test.c
