#!/usr/bin/make -f

%:
	dh $@ --parallel

CFLAGS  += -g -Wall -Wextra
LDFLAGS += -Wl,-O1 -Wl,-z,defs -Wl,--as-needed

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-fileio=sndfile \
		--enable-nasm \
		--with-pic \
		--disable-mp3x \
		--disable-mp3rtp \
		--disable-gtktest \
		--enable-dynamic-frontends \
		--enable-expopt=full
